section {
    font-family: 'Doloman';
}

.content-line {
  padding: 12px 0px;
  width: 100%;
  background-position: center;
}

.un-enetered {
    padding: 10px 0px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
  color: red;
}

.any {
  border: 2px solid white;
  width: 300px;
  background-color: white;
}


.entered {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


table.GeneratedTable {
  text-align: center;
  width: 98%;
  border-collapse: collapse;
}

table.GeneratedTable td{
  margin-top: 5px;
  padding: 3px;
}

.position-name {
  width: 50%;
}


/* Ввести код */
.input-container{
	position:relative;
	margin-bottom:25px;
    width: 230px;
}
.input-container label{
	position:absolute;
	top:-25px;
	left:0px;
	font-size:18px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #2dbb14;	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-35px;
	font-size:16px;
	
}

/* Ввести код */

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: 'Doloman';
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: calc(.600rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  min-width: 200px;
  max-width: 250px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-6:disabled {
  background-color: #404040;
}

.dark {
  --primary: hsl(1, 100%, 68%);
  --other: hsl(0, 0%, 90%);

  background: hsl(0, 0%, 10%);
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}


/* input */
.radio {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* .design */
.design {
  width: 16px;
  height: 16px;

  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: hsl(0, 0%, 90%);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: hsl(1, 100%, 68%);
  opacity: .4;
  transition: .6s;
}


/* .text */
.text {
  color: hsl(0, 0%, 90%);
  font-weight: bold;
}


/* checked state */
.radio:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
.radio:hover+.design,
.radio:focus+.design {
  border: 1px solid hsl(1, 100%, 68%);
}

.radio:hover+.design:before,
.radio:focus+.design:before {
  background: hsl(1, 100%, 68%);
}

.radio:hover~.text {
  color: hsl(1, 100%, 68%);
}

.radio:focus+.design::after,
.radio:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  background: hsla(0, 0%, 98%, .6);
  font-size: 16px;
}