<app-header></app-header>
<section id="content">
  
    <!-- Выбор Категории -->

    <div  *ngIf="menuService.categories" class="content-line"> </div>
    <div #categories id="categories" *ngIf="menuService.categories"  class="category-select">

        <div class="categories">
            <span *ngFor="let category of menuService.categories" (click)="setCategory(category)" class="category-span" >
                <img class="category-icon" [src]="category.image" [alt]="category.name">
                <b [ngClass]="categoryColor(category._id)" [innerHTML]="category.name"></b>
            </span>
        </div>

    </div>
    <div *ngIf="menuService.categories" class="content-line"> </div>

    <!-- Выбор Категории -->

    <div *ngIf="menuService.menu" class="menu" [ngStyle]="{'background-image': 'url(' + menuService.background + ')'}" >


        <div *ngFor="let sub_category of menuService.menu" class="column">
            
            <span class="title-span">
                <img  *ngIf="sub_category.adult" class="adult" src="../../assets/img/18+.svg" alt="18+">
                &nbsp;&nbsp;
                <h1>{{sub_category.name}}</h1>
                &nbsp;
                &nbsp;&nbsp;
            </span>

           <span *ngFor="let position of sub_category.positions" class="column">
                <br> 
                <span class="position">
                    <span class="name">
                        <h2>{{position.name}} <small> &nbsp; {{position.sub_name}}</small> </h2>
                        <small class="description">{{position.description}}</small>
                    </span>
                    <span class="cost-span">
                        <h2  *ngIf="position.cost" [ngClass]="{delete: position.action}"> {{position.cost}} {{menuService.cost}}</h2>
                        <b class="add" *ngIf="position.access && tableService.table && !position.added" (click)="tableService.orderAdd(position)">✚</b>
                        <b class="added" *ngIf="position.added">✓</b>
                    </span>
                    
                </span>
            </span>

            <br>

        </div>

    </div>


</section>